#mainContainer {
    display: none;
}
#background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#content {
    background: rgba(0,0,0,128);
}

#imagen_infineon{
    display: block;
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.left-column {
    width: 60%;
    padding-top: 30px;
}
.right-column {
    width: 34%;
    padding-top: 30px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.pr-40 {
    padding-right:40px;
}
.full {
    width: 89%;
}
.half {
    width: 46%;
}
.pubkey {
    font-size: 1.0em;
}
@media (max-width:850px) {
    .left-column {
        width: 90%;
    }
    .right-column {
        width: 90%;
    }
    .fl {
        float: none;
    }
    .fr {
        float: none;
    }
    .full {
        width: 47%;
    }
    .half {
        width: 50%;
    }
 }



 #wrapper {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  